@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.stats-heading{
    @apply font-inter font-bold  not-italic leading-8  text-center ;
    font-size: 28px;
}
    .stats-content{
        @apply font-inter font-normal not-italic text-center mix-blend-normal ;
        line-height: 25px;
        font-size: 15px;
        opacity: 0.75;

    }
    .stats-numbers{
        @apply font-inter not-italic font-bold text-2xl text-center ;
        line-height: 29px;
    }
    .stats-category{
        @apply font-lexend-deca not-italic font-normal text-xs uppercase  text-center mix-blend-normal   ;
        line-height: 25px;
        letter-spacing: 1px;
        opacity: 0.6;
    }

}




